@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


*{
  font-family:Saira,sans-serif;
}

@theme{
  --color-dark-100: #1a1a1a;
  --color-dark-200:#1f1f1f;
  --color-dark-300:#2d2d2d;
  --color-dark-400: #3d3d3d;
  --color-purple: #8B5CF6;
  --color-pink: #EC4899;
  --color-blue: #3B82F6;
}

.typewriter{
  display: inline-block;
  overflow: hidden; 
  border-right: 0.15em solid #111cec;
  white-space: nowrap; 
  max-width: 0;
  animation: typing 3s steps(21, end) forwards;
} 

@keyframes typing {
  from {max-width:0;}
  to {max-width: 21ch;} 
}

@keyframes blink-caret {
  from,to {border-color:transparent;}
  50%     {border-color: #8B5CF6;}
}